<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href='https://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
  <style>
    body {
      background-color: rgb(165, 247, 240);

    }

    .dropbtn {
      background-color: #04AA6D;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
    }
    .dropdown {
      position: relative;
      display: inline-block;
    }

    * {
      -webkit-transition-property: all;
      -webkit-transition-duration: .2s;
      -moz-transition-timing-function: cubic-bezier(100, 50, 21, 6);
      -moz-transition-property: all;
      -moz-transition-timing-function: cubic-bezier(100, 50, 21, 6);
    }

    .btn {
      color: rgb(248, 239, 239);

      padding: 10px 20px;
      text-decoration: none;
      letter-spacing: 2px;
      text-transform: uppercase;
    }

    .btn:hover {
      border: none;
      background: rgba(138, 247, 239, 0.623);
      background: #8ef3df;
      padding: 20px 20px;
      color: #1b1b1b;
    }
  </style>
</head>

<body>
  <nav class="navbar-expand-lg navbar-dark bg-dark" id="mynav">
    <h2 style="color: white;">Accionlabs</h2>
    <a href="/api"><button class="btn btn-primary ">Home</button></a>
    <div class="dropdown">
       <a id="av" href="/api/listproject"><button class="btn dropbtn">Projects</button></a>
    </div>
    <div class="dropdown">
      <a id="av" href="/api/listemployee"><button class="btn dropbtn">Employees</button></a>
    </div>
    <div class="dropdown">
     <a id="av" href="/api/listresource"><button class="btn dropbtn">Project Resource</button></a>
    </div>
     <div class="dropdown">
      <a id="av" href="/api/listfile"><button class="btn dropbtn">Monthly Bill</button></a>
    </div>
  </nav>
   {{!-- <div style="margin-left: 35%; margin-top:-4%" class="container">
      <div class="wrapper">
        <input type="text" name="search" id="search" placeholder="Type to search" autocomplete="chrome-off">
        <button class="sbutton"><i class="fa fa-search"></i></button>
        <div class="results">
          <ul>
          </ul>
        </div>
      </div>
    </div> --}}

</body>

{{!-- <script>

  let searchable = [
    '<li><a href="/api/listproject">List Projects</a></li>',
    '<li><a href="/api/listemployee">List Employees</a></li>',
    '<li><a href="/api/listresource">List Resource</a></li>',
    '<li><a href="/api/project">Add Project</a></li>',
    '<li><a href="/api/employee">Add Employee</a></li>',
    '<li><a href="/api/resource">Add Resource</a></li>',
  ];

  const searchInput = document.getElementById('search');
  const searchWrapper = document.querySelector('.wrapper');
  const resultsWrapper = document.querySelector('.results'); 

  searchInput.addEventListener('keyup', () => {
    let results = [];
    let input = searchInput.value;
    if (input.length) {
      results = searchable.filter((item) => {
        return item.toLowerCase().includes(input.toLowerCase());
      });
    }
    renderResults(results);
  });

  function renderResults(results) {
    if (!results.length) {
      return searchWrapper.classList.remove('show');
    }
    const content = results
      .map((item) => {
        return `${item}`;
      })
      .join('');

    searchWrapper.classList.add('show');
    resultsWrapper.innerHTML = `<ul>${content}</ul>`;
  }


</script>

<style>
  .container {

}
  .wrapper {
    margin: 0 auto;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.15);
    position: relative;
    width: 450px;
  }

  input {
    width: 100%;
    border: none;
    height: 50px;
    border-radius: 5px;
    padding: 0px 40px 0px 10px;
    font-size: 18px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  }

  input:focus {
    outline: none;
  }

  .sbutton {
    position: absolute;
    border: none;
    background: none;
    top: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    padding: 0;
    width: 50px;
  }

  .sbutton:focus {
    outline: none;
  }

  .sbutton i {
    width: 100%;
    color: #6d7b98;
    line-height: 50px;
    font-size: 22px;
  }

  .results {
    padding: 0px;
  }

  .results ul {
    margin: 0;
    padding: 0;
  }

  .results ul li {
    list-style: none;
    border-radius: 3px;
    opacity: 0;
    display: none;
    padding: 8px 12px;
    transition: all .5s linear;
  }

  .show .results ul li {
    opacity: 1;
    display: block;
  }

  .show .results {
    padding: 10px;
  }

  .results ul li:hover {
    background: #ececec
  }
</style> --}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</html>