body {
    background-color: rgb(165, 247, 240);

}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

* {
    -webkit-transition-property: all;
    -webkit-transition-duration: .2s;
    -moz-transition-timing-function: cubic-bezier(100, 50, 21, 6);
    -moz-transition-property: all;
    -moz-transition-timing-function: cubic-bezier(100, 50, 21, 6);
}

.btn {
    color: rgb(248, 239, 239);

    padding: 10px 20px;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.btn:hover {
    border: none;
    background: rgba(138, 247, 239, 0.623);
    background: #8ef3df;
    padding: 20px 20px;
    color: #1b1b1b;
}