.employeesContainer {
  background-color: white;
  height: 100vh;
  position: relative;
  padding: auto;
  margin: auto;
}

.leftConatiner {
  position: fixed;
}

.rigthConatiner {
  margin-left: 18%;
  position: absolute;
  //padding: auto; 
}